body {
    font-family: "Inter-Bold", Helvetica;
    background-color: #f3f2ef;
    color: #000000;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

h1,
h2,
.job-title,
.course-title,
.project-title {
    color: #000000;
}

@media (max-width: 980px) {
    body {
      max-height: max-content;
      font-size: 2rem;
    }

    button {
        height: 3rem;
        width: 5rem;
        margin: 5px;
        font-size: x-large;
      }
}