.language-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.language-selector div {
    width: 40%;
}

.language-selector > div:first-child {
    padding-left: 4%;
    height: 4rem
}

.language-selector button {
    height: 2rem;
    width: 3rem;
}

@media (max-width: 980px) {

    .language-selector {
        margin-bottom: 5rem;
    }

    .language-selector > div:first-child {
        padding-left: 0;
    }

    .language-selector button {
        height: 4rem;
        width: 5rem;
    }
}