.container {
    display: flex;
    overflow: hidden;
    height: 95vh;
}

.main {
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
    margin: 6rem 20rem 6rem 0;
    text-align: justify;
    height: 75vh;
}

.main::-webkit-scrollbar {
    display: none;
}