main {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    padding-bottom: 10px;
}

.left-column, .right-column {
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 980px) {
    main {
        justify-content: normal;
        
    }

    main .left-column, main .right-column {
        width: 100%;
    }

    .container {
        flex-direction: column;
        height: auto;
        margin: 0 5rem 0 5rem;
    }

}
