@media (max-width: 980px) {
  body {
    max-height: max-content;
    font-size: 2rem;
  }

  .container {
    flex-direction: column;
    height: auto;
  }

  .header,
  .main {
    flex: 100%;
    padding: 10%;
  }

  .links-container {
    position: relative;
    bottom: auto;
  }

  .main {
    overflow-y: initial;
    margin: 0;
  }
}